In [1]:
!pip install openai

Collecting openai
  Downloading https://files.pythonhosted.org/packages/a8/65/c7461f4c87984534683f480ea5742777bc39bbf5721123194c2d0347dc1f/openai-0.2.4.tar.gz (157kB)
     |████████████████████████████████| 163kB 2.7MB/s
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.6/dist-packages (from openai) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->openai) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->openai) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->openai) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->openai) (1.24.3)
Building wheels for collected packages: openai
  Building wheel for openai (setup.py) ... done
  Created wheel for openai: filename=openai-0.2.4-cp36-none-any.whl size=170709 sha256=3821b7d0954e25e78fcdb4a7718777dcdfa08c7ed830290c2c299c0dae9d8ee6
  Stored in directory: /root/.cache/pip/wheels/74/96/c8/c6e170929c276b836613e1b9985343b501fe455e53d85e7d48
Successfully built openai
Installing collected packages: openai
Successfully installed openai-0.2.4

In [2]:
import json
import openai
import numpy as np
import pandas as pd

In [3]:
with open('GPT_SECRET_KEY.json') as f:
    data = json.load(f)

In [4]:
openai.api_key = data["API_KEY"]

In [5]:
from gpt import GPT
from gpt import Example

In [6]:
gpt = GPT(engine="davinci",
          temperature=0.5,
          max_tokens=100)

In [7]:
df = pd.DataFrame({"Gender": ["boy", "boy", "boy", "boy", "boy",
                         "girl", "girl", "girl", "girl"],
                   "Division": ["one", "one", "one", "two", "two",
                         "one", "one", "two", "two"],
                   "Marks": [50, 55, 67, 85, 44, 84, 65, 56, 87]})

In [8]:
df

  Gender Division  Marks
0    boy      one     50
1    boy      one     55
2    boy      one     67
3    boy      two     85
4    boy      two     44
5   girl      one     84
6   girl      one     65
7   girl      two     56
8   girl      two     87

# Adding Examples for GPT Model

In [9]:
gpt.add_example(Example('How many unique values in Division Column?', 
                        'df["Division"].nunique()'))

In [10]:
gpt.add_example(Example('Find the Division of boy who scored 55 marks', 
                        'df.loc[(df.loc[:, "Gender"] == "boy") & (df.loc[:, "Marks"] == 55), "Division"]'))

In [11]:
gpt.add_example(Example('Find the average Marks scored by Girls', 
                        'np.mean(df.loc[(df.loc[:, "Gender"] == "girl"), "Marks"])'))

# Example 1

In [12]:
prompt = "Display Division of girl who scored maximum marks"

In [13]:
print(gpt.get_top_reply(prompt))

output: df.loc[(df.loc[:, "Gender"] == "girl") & (df.loc[:, "Marks"] == max(df.loc[:, "Marks"])), "Division"]

In [14]:
df.loc[(df.loc[:, "Gender"] == "girl") & 
       (df.loc[:, "Marks"] == max(df.loc[:, "Marks"])), 
       "Division"]

8    two
Name: Division, dtype: object

# Example 2

In [15]:
prompt = "Find the median Marks scored by Boys"

In [16]:
print(gpt.get_top_reply(prompt))

output: np.median(df.loc[(df.loc[:, "Gender"] == "boy"), "Marks"])

In [17]:
np.median(df.loc[(df.loc[:, "Gender"] == "boy"), "Marks"])

55.0